<style>


/* Boxes */

.boxes {
    height:150px;
}
.box {
    position:relative;
    float:left;
    padding:20px 30px 20px;
    width:185px;
    height:185px;
    background:#fff;
    text-align:center;
    border-radius:10px;
	border: 1px solid #ddd;
	color:#333;
  	font:12px/1.6 verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
}
.box .bkg {
    display:block;
    position:absolute;
    top:20px;

    left:95px;
    width:85px;

    height:100px;
}

.box img{
	width:30px;
}


.box + .box {
    margin-left:20px;
}

.box p { 
    text-align:left;
    margin-left:10px;
}
.box h2 {
	margin-bottom:10px;
}
</style>


    <div id="wrapper"> 
      <div id="content">  
	
	
		<div id="logo"><img src="images/logo.png"/></div>

		
			<div id="highlight">
				<h1>Turn your customers into advertisers!</h1>
				<div class="signup" id="signup">
				    <form action="/betas" method="post" accept-charset="utf-8" id="beta_form">
				      <input type="text" name="email" placeholder="mail@company.com" value="" id="email">
				      <input type="submit" id="submit" value="Sign up!" ,="" class="button rosy">
				    </form> 
				</div>
			</div>
		
		
		
			<div class="boxes">

				
				<div class="box">
					<img src="images/credit-card.png">
					
					<h2>1. Setup</h2>
					<span class="bkg"></span>
					<p>It’s a snap: add your website, logo, Facebook page.  Automate requests for recommendations with every sale.
					 </p>
				</div>
				<div class="box">
					<img src="images/suitcase.png">
					
					<h2>2. Ask </h2>
					<span class="bkg"></span>
					<p>Your customers are talking - listen! Prizzm makes feedback painless and rewarding.</p>
				</div>
				<div class="box">
					<img src="images/share.png">
					
					<h2>3. Share</h2>
					<span class="bkg"></span>
						<b>90%</b> of people trust friends recommendations.<br>
						<b>10x</b> the response of most surveys with Prizzm!
						</p>
						
				</div>
			</div>
		
		
	
		
        
        </div>
    </div>
