<div id="blackbar"></div>
  
  <div id="container">
    <header class="clearfix">
      <h1 id="logo"><a href="/"></a></h1>
      <nav>
        <ul id="main_nav" class="clearfix">
          <li><a class="about" href="http://blog.prizzm.com/pages/about" target="_blank">About us</a></li>
          <li><a class="contact" href="mailto:contact@prizzm.com">Contact us</a></li>
		 
		<!-- <li><a class="fb" href="https://www.facebook.com/pages/Prizzm/242295735811106" target="_blank">facebook</a></li>  
          <li><a class="tt" href="https://twitter.com/#!/prizzmtwt" target="_blank">twitter</a></li>  twitter-share-button -->
		 <li><a href='https://twitter.com/share'
		            class='twitter-share-button'
		            data-url='http://sales.prizzm.com'
		            data-related='prizzmtwt'
		            data-text='Get more customer recommendations for your business!'
		            data-hashtags='prizzm'>Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></li>
		
		  <li> <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="" layout="button_count" show_faces="false" width="450" font=""></fb:like></li>
		 
		
        </ul>
      </nav>
    </header>
    
    <div id="main">
	 <h1>Get more customer recommendations with Prizzm! </h1>
	
      
      <div id="ribbon">
        <h2>Get on the Beta list! Launching soon.  </h2>
        <%= form_for Signup.new do |form| %>
          <%= form.text_field :email, :placeholder => 'Company email' %>
          <%= form.text_field :name, :placeholder => 'Company name' %>
          <%= form.submit "Apply" %>
        <%- end %>
      </div>
      
      <section id="info">
        <nav class="clearfix">
          <ul id="sub_nav" class="clearfix">
            <li id="why" class="active"><a href="">Why Prizzm?</a><span></span></li>
            <li id="increase"><a href="">Increasing Response Rates</a><span></span></li>
            <li id="engineer"><a href="">Features</a><span></span></li>
            <li id="costs"><a href="">Costs?</a><span></span></li>
			<li id="people"><a href="">Not a business?</a><span></span></li>
          </ul>
        </nav>
        <div class="content why show">
        <!--[if IE 7]>    <h3>Why prizzm?</h3> <![endif]-->
        Prizzm rewards your customers for engagement. Prizzm makes it simple to ask for recommendations and feedback - and you'll never know if you don't ask!
        </div>
        <div class="content increase">
        <!--[if IE 7]>    <h3>Increasing response rates</h3> <![endif]-->
        Customers are sick of long surveys and feedback requests that they get nothing out of, so they ignore them. Prizzm fixes that - it rewards customers for giving feedback. It is extremely fast for the customers, they get something out of it, so we have a high response rate.
        </div>
        <div class="content engineer">
        <!--[if IE 7]>    <h3>Features</h3> <![endif]-->
          <ol>
            <li>Create your brand page for advertising, add unlimited products.</li>
            <li>Integration with Facebook and Twitter - promote good feedback.</li>
            <li>Integration with your sales system: give us your sales list and watch the feedback come in!</li>
            <li>Topics: Ask your customers anything, and find out what they have to say.</li>
            <li>Sales! Customers on Prizzm rack up points.. they can redeem them for a sale. Increase sales directly with Prizzm by sponsoring deals! </li>
			
          </ol>
        </div>
        <div class="content costs">
        <!--[if IE 7]>    <h3>Costs?</h3> <![endif]-->
        Prizzm is free for select brands, but not all companies qualify. Is your brand unique? Sign up!
        </div>
        <div class="content people">
        <!--[if IE 7]>    <h3>Not a business?</h3> <![endif]-->
        Prizzm is for people too. <a href="http://www.prizzm.com">Sign up here</a> if you are person who would like to record and own your feedback, while getting rewards!
        </div>
      </section>
      
      <section id="steps" class="clearfix">
        <div class="col setup icon">
          <h3>1. Setup</h3>
          <p>It’s a snap: add your website, logo, Facebook page. Automate requests for recommendations and feedback with every sale.</p>
        </div>
        <div class="col ask icon">
          <h3>2. Ask</h3>
          <p><strong>90%</strong> of people trust friends recommendations.</p>
          <p><strong>10x</strong> the response of most surveys with Prizzm!</p>
        </div>
        <div class="col share icon">
          <h3>3. Share</h3>
    		  <p>Your customers get rewarded for sharing with their friends. Publish customer reviews on Facebook, Twitter, etc.</p>
        </div>
        <div class="clear"></div>
      </section>
      <div class="clear"></div>
    </div>
    
    <div id="footer">
      Copyright &copy; 2012 prizzm.com . All rights reserved . <a href="">Terms & Conditions</a> | design by <a href="http://ohsogeoff.com">ohsogeoff.com</a>
    </div>
    
  </div>


