    <div id="wrapper"> 
      <div id="content">  
	
	
		<h1>Why does Bryna use Prizzm??</h1>
		  <h2>To support customers! This is your electronic warrantee info for a Herman Mini.</h2>
          <div class="demo">
            <h2 class="expand">How can you use Prizzm?</h2>
            <div class="collapse">
				<p>Bryna is sponsoring a free Prizzm account for you to track your Herman Mini - this is your place for support/warrantee information, and to give feedback. </p>
					
				<p>Prizzm is a new system, where each customer can track *any* business - and share feedback - good or bad.  You can see friends recommendation and give recommendations too. </p> 
					
				<p>The system is yours – everything it has privacy controls. Your data and reviews will never be sold – you will receive ZERO advertising emails. </p> 
				
				<p>Prizzm is in beta test, please help us by checking it out!!  </p>
								
                <p class="top"><a href="#content">Top of page</a></p>
            </div>

			<h2 class="expand">Why does Prizzm use Facebook for login?</h2>
            <div class="collapse">
				<p> Cause it seems like everybody as an account – makes it easy to login.  You login, but you don’t need to share Facebook - it is totally up to you. Nothing will be automatically posted to your wall. </p>
                <p class="top"><a href="#content">Top of page</a></p>
            </div>
         
            <h2 class="expand">Need More info??   </h2>
            <div class="collapse">
                <p><iframe width="420" height="315" src="http://www.youtube.com/embed/J7T1NeNHzUM" frameborder="0" allowfullscreen></iframe></p>
                <p class="top"><a href="#content">Top of page</a></p>
            </div>
            <h2 class="expand">Too much?? Give feedback anonymously.  </h2>
            <div class="collapse">
                <p>send via email</p>
                <p class="top"><a href="#content">Top of page</a></p>
            </div>
          </div>
        </div>
    </div>
