<header class="navbar navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="span12">
	      <a href="/"><h1 id="logo" class="ir">Prizzm rewarding customers</h1></a>

	      <nav>
          <ul>
            <li id="signin"><a href="http://www.prizzm.com/users/login">Sign in<span>with an existing account</span></a></li>
            <li id="about"><a href="">About<span>our company</span></a></li>
	        </ul>
        </nav>

	      <ul id="social"> </ul>
      </div>
    </div>
  </div>
</header>

<div id="main"><div class="container">
	<section id="customers" class="row">

	<div class="span9">
		<h2>Got customers?</h2>
		<h3>Prizzm encourages your customers to share recommendations with their friends on Facebook and Twitter.</h3>
	</div>

	<div class="span10 offset1">
		<section class="fl">
			<div class="dyk">
				<i></i>
				<div class="clearfix">
          <div class="fl">
            <strong>You</strong> are </div><em>5x</em>
            <span>more likely to have <em>your customers</em> publish a recommendation if you <em>use Prizzm</em>.</span>
          </div>
			  </div>

			  <div id="twitter" class="testimonial" rel="popover" data-content="<a href='http://wishery.com' target='_blank'>Wishery</a> is getting a recommendation from a customer through Prizzm."></div>
			  <a class="callout next" href="#listen">Find out how</a>
		</section>

		<form id="signup" class="fl" method="post" action="http://prizzm.com/users" accept-charset="UTF-8">
      <ul>
        <li><h4>Sign up for Prizzm.</h4></li>
        <li><input type="text" name="user[name]" maxlength="255" id="user_name" placeholder="Company name"></li>
        <li><input type="email" name="user[email]" maxlength="255" id="user_email" value="" placeholder="email"></li>
        <li><input type="password" name="user[password]" maxlength="128" id="user_password" placeholder="password"></li>

        <!--<form id="user_new" class="simple_form user" action="/users" >
          <div style="margin:0;padding:0;display:inline">
            <input type="hidden" value="✓" name="utf8">
            <input type="hidden" value="OVblVAlHf/t7VSM0kaAq4J1ubyoN6VLMvdrDdTzVVnQ=" name="authenticity_token">
          </div>

          <input type="text" size="50" required="required" name="user[name]" maxlength="255" id="user_name" class="string required">
          <input type="email" value="" size="50" name="user[email]" maxlength="255" id="user_email" class="string email optional">
          <input type="password" size="50" name="user[password]" maxlength="128" id="user_password" class="password optional">
        -->
		  </ul>
		  <input type="submit" class="bbtn" value="Sign up">
	  </form>
	</section>

	<section id="listen" class="row"><div class="span12">
		<h2>Listen to them.</h2>
		<h3>Prizzm response rates are 50% higher than other channels.</h3>
		<section class="feature clearfix">
			<span>Prizzm automatically asks for feedback from every sale.<i></i></span>
			<div id="feedback"></div>
		</section>
		<section class="feature clearfix">
			<span>Simple, elegant forms increase response rates.<i></i></span>
			<div id="responses"></div>
		</section>
		<a class="callout next" href="#more">Why should we listen?</a>
	</div></section>

	<section id="more" class="row"><div class="span12">
		<h2>Get more customers.</h2>
		<div class="row"><section class="span10 offset1">
			<div id="facebook" class="testimonial fl" rel="popover" data-content="
			<ul>
				<li><em>Real</em> customer reviews.</li>
				<li><em>Real</em> conversations.</li>
				<li><em>Real value.</em></li>
			</ul>
			"></div>

			<section class="abs">
				<ul class="dyk"><i></i>
					<li class="clearfix"><span>70%</span><p>trust recommendations from their friends.</p></li>
					<li class="clearfix"><span>55%</span><p>use social media to talk about products and companies.</p></li>
					<li class="clearfix"><span>$30</span><p>You could save on average by having customers use Prizzm.</p></li>
			</section>
		</section></div>

	</div></section>

</div></div>

<footer>
	<section id="signup">
    <div class="container">
      <div class="row"><div class="span12">
        <form id="signup" class="fl" method="post" action="http://prizzm.com/users" accept-charset="UTF-8">
          <ul class="clearfix">
            <li><input type="text" name="user[name]" maxlength="255" id="user_name" placeholder="Company name"></li>
            <li><input type="email" name="user[email]" maxlength="255" id="user_email" value="" placeholder="email"></li>
            <li><input type="password" name="user[password]" maxlength="128" id="user_password" placeholder="password"></li>
            <%= link_to "Sign up", "#", :id => 'footer-signup' -%>
          </ul>
        </form>
	    </div>
    </div>
    </div></section>

	<section id="bits"><div class="container"><div class="row"><div class="span12">
		<div id="copyright" class="fr">Copyright &copy; 2012 Prizzm.com</div>
		<nav class="fr"><ul>
			<li><a href="">About</a></li>
			<li><a href="">Privacy</a></li>
		</ul></nav>
	</div></div></div></section>
</footer>

<%= javascript_tag do -%>
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
<%- end -%>
