/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


* {margin:0; padding:0}
/* --- Page Structure  --- */
html {height:100%}
body {
  min-width:400px;
  width:100%;
  height:101%;
  background:#f8f8f8;
  color:#333;
  font:76%/1.6 verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
  text-align:center
}
#wrapper{
  margin:0 auto;
  padding:15px 15%;
  text-align:left
}
#content {
  max-width:70em;
  width:100%;
  margin:0 auto;
  padding-bottom:20px;
  overflow:hidden
}
.demo {
  margin:0;
  padding:1.5em 1.5em 0.75em;
  /*border:1px solid #ccc;*/
  position:relative;
  overflow:hidden
}
.collapse p {padding:0 10px 1em}
.top{font-size:.9em; text-align:right}
#switch, .switch {margin-bottom:5px; text-align:right}

/* --- Headings  --- */
h1 {
  margin-bottom:.75em; 
  font-size:2.5em; 
  font-weight:normal; 
  color:#c30
}
h2{font-size:1.5em;}

.expand{padding-bottom:.75em}

/* --- Links  --- */
a:link, a:visited {
  /*border:1px dotted #ccc;
  border-width:0 0 1px;*/
  text-decoration:none;
  color:blue
}
a:hover, a:active, a:focus {
  /*border-style:solid;*/
  background-color:#f0f0f0;
  outline:0 none
}
a:active, a:focus {
  color:red;
}


/* Header*/

#logo{
	/* width:350px; */
	margin: 0 auto;
	padding: 30px 0;
}

#logo img{
/*	width:400px; */
}

/* Highlight */

#highlight{
	padding:30px 30px 0px 30px;
	background:#efefef;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom:40px;
	text-align:center;
}


/* Signup form */


/* Signup */

.signup{
    width:500px;
    margin:0 auto;
    height:95px;
}

.signup p{
    font-size:18px;
    text-align:center;
    line-height:28px;
    padding:0 10px;
}

.signup .submited{
    font-size:18px;
    line-height:135px;
    margin:0;
    padding:0;
}

.signup form{
    width:505px;
    margin:0 auto;
}

.signup input#email {
    font-size: 16px;
    width: 240px;
    border: 1px solid #d1d1d1;
    padding:10px 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.signup input#email:focus {
    outline: none;
}
.signup input#email::-webkit-input-placeholder {
    color: #555;
}


.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: 12px 20px 10px 20px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	font-weight:bold;
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

/* rosy */
.rosy {
    color: #fae7e9;
    border: solid 1px #b73948;
    background: #da5867;
    background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
    background: -moz-linear-gradient(top,  #f16c7c,  #bf404f);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f');
}
.rosy:hover {
    background: #ba4b58;
    background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
    background: -moz-linear-gradient(top,  #cf5d6a,  #a53845);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845');
}
.rosy:active {
    color: #dca4ab;
    background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));
    background: -moz-linear-gradient(top,  #bf404f,  #f16c7c);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c');
}

/* Expand */
.expand a {
  display:block;
  padding:3px 10px
}
.expand a:link, .expand a:visited {
  /*border-width:1px;*/
  background-image:url(/images/arrow-down.gif);
  background-repeat:no-repeat;
  background-position:98% 50%;
}
.expand a:hover, .expand a:active, .expand a:focus {
  text-decoration:underline
}
.expand a.open:link, .expand a.open:visited {
  border-style:solid;
  background:#eee url(/images/arrow-up.gif) no-repeat 98% 50%
}


/* Boxes */

.boxes {
    height:150px;
}

.boxes h3{
	margin-bottom:10px;
	vertical-align:top;
}

.boxes h3 img{
	width:65px;
}

.box {
    position:relative;
    float:left;
    padding:20px 30px 20px;
    width:206px;
    height:185px;
    background:#fff;
    text-align:center;
    border-radius:10px;
	border: 1px solid #ddd;
}
.box .bkg {
    display:block;
    position:absolute;
    top:20px;

    left:95px;
    width:85px;

    height:100px;
}

.box img{
	width:30px;
}

.unlimited-storage .bkg {
    background:url(../img/cloud.png) no-repeat;
}
.ultimate-privacy .bkg {
    background:url(../img/cloud2.png) no-repeat;
}
.better-security .bkg {
    background:url(../img/cloud3.png) no-repeat;
}
.box + .box {
    margin-left:20px;
}

.box p { 
    text-align:left;
    margin-left:10px;
}
.box h2 {
	margin-bottom:10px;
}