/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { color: #222; }

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

.container a { color: #fff !important; }
.container a:visited { color: #fff !important; }
.container a:hover { color: #ccc !important; }
.container a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 20px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* =============================================================================
   Primary styles
   Author:
   ========================================================================== */

  *:focus { outline: none; }
  
  body {
    font-family: Verdana;
    background: repeat url("../images/bg.png");
  }
  
  iframe {
    width: 76px !important;
  }
  
  #blackbar {
    height: 116px;
    background: rgba(0,0,0,0.05);
  }
  
  #container {
    margin: -106px auto 0;
    width: 739px;
  }
  
  header {
    margin-bottom: 15px;
  }
  
    #logo {
      margin: 0; padding:0;
      width: 207px;
      height: 65px;
      float: left;
      background: no-repeat url("../images/logo.png");
    }
    
    #main_nav {
      margin: 10px 0 0;
      width: 202px;
      float: right;
    }
    
      #main_nav li {
        margin: 0 0 10px 20px;
        float: left;
      }
      
      #main_nav li a {
        height: 18px;
        font-size: 0.8em;
        font-weight: bold;
        display: block;
        background-image: url("../images/sprite.png");
        background-repeat: no-repeat;
        text-decoration: none;
      }
      
      #main_nav li a.about { color: #4e8ae4; padding-left: 22px; background-position: 0 0; height: 17px; } 
      #main_nav li a.contact { color: #e44e4e; padding-left: 26px; background-position: 0 -27px; height: 18px; } 
      #main_nav li a.fb { color: #5775ae; padding-left: 21px; background-position: 0 -55px; height: 16px; } 
      #main_nav li a.tt { color: #3986bb; padding-left: 21px; background-position: 0 -81px; height: 16px; } 

  
  #main {
    padding: 20px;
    background: #fff;
    border: 1px solid #cbcbcb;
    box-shadow: 0 0 5px 0 #cbcbcb;
    position: relative;
    
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
    
    #main h1, #main h2 {
      text-align: center;
    }
    
    #main h1 {
      margin: 0 0 127px;
      font-weight: normal;
      font-size: 2.5em;
      color: #c30c30;
      font-family: "ChaparralProRegular";
    }
    
    #main h2 {
      margin: 10px 0;
      color: #fff;
      font-size: 1.4em;
    }
    
    form {
      text-align: center;
    }
    
      form input[type=text], form input[type=email] {
        padding: 10px;
        width: 269px;
        border: 1px solid #ad3434;
        background: #fff;
        color: #a3a3a3;
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
        
        -moz-border-radius: 3px;
        border-radius: 3px;
      }
      
      form input[type=text]:focus, form input[type=email]:focus
      {
        color: #333;
      }
      
      form input[type=submit]{
        padding: 9px 20px;
        color: #fff;
        font-weight: bold;
        font-size: 1.2em;
        background: #67c346;
        border: 1px solid #4f9835;
        box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5), 0 0 5px 0 rgba(0,0,0,0.3);
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
        
        -moz-border-radius: 3px;
        border-radius: 3px;
      }
    
    #ribbon {
      top: 85px;
      left: -106px;
      margin: 0 auto;
      width: 946px;
      height: 123px;
      position: absolute;
      background: no-repeat url("../images/ribbon.png");
    }
    
    section {
      padding: 10px 0;
    }
    
    section#info{
      border-bottom: 1px solid #d3d1d1;
    }
      
      #sub_nav li{
        float: left;
        border-right: 1px solid #fff;
      }
        
        #sub_nav li a{
          background: #d3d1d1;
        }
        
        #sub_nav li.active a{
          background: #f1b764;
        }
        
        #sub_nav li.active a {
          color: #fff;
        }
        
        #sub_nav li span {
          height: 7px;
          background: no-repeat url("../images/arrow.png") center;
          display: none;
        }
        
        #sub_nav li.active span {
          display: block;
        }
      
      #sub_nav li a {
        padding: 8px;
        color: #545454;
        text-decoration: none;
        display: block;
      }
      
      section#info div{
        padding: 0 0 10px;
        line-height: 24px;
        display: none;
      }
      
      ol {
        margin: 0;
      }
    
    .col {
      width: 27%;
      float: left;
    }
    
      .col h3 {
        margin: 0;
      }
    
      .icon {
        padding-left: 42px;
      }
      
        .setup.icon{
          background: no-repeat url("../images/setup.png") 0 0;
        }
        
        .ask.icon{
          background: no-repeat url("../images/ask.png") 0 0;
        }
        
        .share.icon{
          background: no-repeat url("../images/share.png") 0 0;
        }
  
  #footer {
    margin: 10px 0 0;
    font-size: 0.8em;
    text-align: center;
  }
  
    #footer a {
      color: #4e8ae4;
      text-decoration: none;
    }
  
  .show {
    display: block;
  }
  
  #thanks
  {
    width: 500px;
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #cbcbcb;
    box-shadow: 0 0 5px 0 #cbcbcb;
    position: relative;
    text-align: center;
    
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  #thanks h1
  {
    font-weight: normal;
    font-size: 2.5em;
    color: #c30c30;
    font-family: "ChaparralProRegular";
  }

@font-face {
    font-family: 'ChaparralProRegular';
    src: url('../fonts/chaparralpro-regular-webfont.eot');
    src: url('../fonts/chaparralpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chaparralpro-regular-webfont.woff') format('woff'),
         url('../fonts/chaparralpro-regular-webfont.ttf') format('truetype'),
         url('../fonts/chaparralpro-regular-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;

}

.ie7 #main{
  margin-top: 80px;
}

.ie7 #sub_nav {
  display: none;
}

.ie7 #main h1 {
  margin-bottom: 150px;
}

.ie7 .content h3 {
  margin-bottom: 0;
}

.ie7 #steps {
  margin-top: 50px;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.clear { clear: both; }

/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
