/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Primary Styles ========================================================
   Author: ohsogeoff.com
   ========================================================================== */


   html, body {
    font-family: "Calibri", "Arial", sans-serif;
   }

   header.navbar {
    background: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 3px 0 5px rgba(0,0,0,0.2);
   }

     #logo {
      margin: 22px 0 26px;
      width: 174px;
      height: 54px;
      float: left;
      background: url("logo.png") no-repeat;
     }

     header.navbar ul, header.navbar ul li {
      float: right;
     }

     header.navbar nav li{
      border-left: 1px solid #ccc;
     }
      #about:hover {
        border-left: 1px solid #b36464;
      }

      #about a{
        color: #b36464;
      }

      #signin {
        border-right: 1px solid #ccc;
      }

        #signin:hover {
          border-left: 1px solid #649ab3;
        }

        #signin a{
          color: #649ab3;
        }

     header.navbar nav a {
      padding: 30px 20px;
      display: block;
      font-size: 1.1em;
     }

      header.navbar nav a:hover {
        text-decoration: none;
      }

     header.navbar nav a span {
      margin-top: 6px;
      color: #ccc !important;
      font-size: 0.9em;
      display: block;
     }

     #social {
      margin: 37px 0 0; padding: 0;
      list-style: none;
     }

      #social li {
        width: 100px;
        overflow: hidden;
      }


  #main {
    margin-top: 105px;
    background: url("bg-pattern.png") repeat;
  }

  #main > div > section {
    margin-top: 25px;
    height: 700px;
    border-bottom: 1px solid #fff;
    box-shadow: 0 4px 6px -3px rgba(0,0,0,0.2);
  }

    #more {
      border: 0 !important;
      box-shadow: none !important;
    }

    .popover-title { display: none; }
    .popover a, .popover em { color: #d03a3a; }
    .popover a { text-decoration: underline;}
    .popover em { font-style: normal; }
    .popover-inner {
      background: #BEBEBE !important;
      padding: 1px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    .popover.right .arrow { border-right: 5px solid #BEBEBE !important;}
    .popover.bottom .arrow { border-bottom: 5px solid #BEBEBE !important;}

  #main > div > section h2 {
    margin: 30px 0 20px;
    font-size: 4.5em;
    font-weight: normal;
  }

  #main > div > section h3 {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 2em;
    color: #707070;
    line-height: 1.2;
  }

  .dyk, #more .dyk li {
    width: 480px;
    background: #fff;
    border: 1px solid #c9c9c9;
    position: relative;
    box-shadow: 2px 2px 6px -2px rgba(0,0,0,0.2);
  }

    .dyk i {
      margin: -20px 0 0 -20px;
      width: 140px;
      height: 40px;
      display: block;
      position: absolute;
      z-index: 999;
      background: url("dyk.png") no-repeat;
    }

    .dyk > div {
      padding: 10px;
    }

  .testimonial {
    margin-bottom: 15px;
  }

  #customers h2 {
    margin-top: 10px !important;
  }

  #customers section {
    margin-top: 60px;
  }

    #customers .dyk div .fl {
      font-size: 1.8em;
      margin-top: 20px;
    }

    #customers .dyk em {
      color: #d03a3a;
    }

    #customers .dyk div > em {
      font-size: 8em;
      font-weight: bold;
      font-style: normal;
      display: block;
      float: left;
      line-height: 0.6;
    }

    #customers .dyk span {
      margin: 16px 0 0 10px;
      width: 233px;
      display: block;
      float: left;
    }

    #twitter.testimonial{
      margin-top: 10px;
      width: 598px;
      height: 247px;
      background: url("twitter-example.png") no-repeat;
    }

      .popover.bottom {
        left: 223px !important;
        text-align: center;
      }

    #customers #signup {
      margin: 177px 0 0 20px;
    }

    #customers ul {
      margin: 0; padding: 20px 80px 10px 20px;
      list-style: none;
      background: rgba(0,0,0,0.8);
    }

    #customers ul li {
      margin-bottom: 10px;
    }

    #signup h4 {
      margin-bottom: 25px;
      color: #fff;
      font-size: 1.5em;
      font-weight: normal;
    }

    #customers #signup input[type=text],
    #customers #signup input[type=email],
    #customers #signup input[type=password]{
      padding: 10px;
      width: 100%;
    }

    #signup input[type=button], #signup input[type=submit]
      margin-top: 15px;
      padding: 10px 30px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      border: 0;
      background: #78bddd;
      color: #fff;
    }

    .callout {
      padding: 10px 30px;
      background: #d03a3a;
      color: #fff !important;
      font-size: 1.3em;
      display: block;
      text-align: center;
    }

    #customers .callout {
      float: right;
    }

  #listen {
    height: 760px !important;
  }

  #listen h3 {
    margin-bottom: 50px !important;
  }

  #listen .feature {
    margin-bottom: 50px;
  }

    #listen .feature span {
      margin-left: 100px;
      width: 300px;
      background: #fff;
      border: 1px solid #ccc;
      padding: 10px;
      display: block;
      font-size: 1.3em;
      float: left;
    }

      #listen .feature span i {
        margin: 10px 0 0 -10px;
        width: 300px;
        height: 16px;
        display: block;
        position: absolute;
        background: url("lift-shadow.png") no-repeat;
      }

    #listen .feature div {
      margin-left: 20px;
      width: 550px;
      height: 185px;
      float: left;

      -o-border-radius: 3px;
      -ms-border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;

      border: 1px solid #fff;
      box-shadow: 10px 10px 0 -1px rgba(0,0,0,0.1);
      -moz-background-size: 574px 300px;
      -webkit-background-size: 574px 300px;
      background-size: 574px 300px;
      background-repeat: no-repeat;
    }

    #listen #feedback {
      background-image: url("feedback.jpg");
    }

    #listen #responses {
      background-image: url("responses.jpg");
    }

    #listen .callout {
      margin: 0 auto;
      width: 200px;
    }
  
  #more {
    height: 625px !important;
  }

  #more h2 {
    margin-bottom: 50px !important;
  }

    #facebook.testimonial {
      width: 632px;
      height: 424px;
      background: url("fb-example.png");
    }

      .popover.right {
        top: 1753.5px !important;
      }

      .popover.right ul{
        margin: 0; padding: 0;
        list-style: none;
        font-size: 1.5em;
      }

      .popover.right li {
        margin-bottom: 8px;
      }

      .popover.right li:last-child {
        margin-bottom: 0;
      }

    #more .row {
      position: relative;
    }

    #more section {
      bottom: -48px; right: 119px;
    }

    #more .dyk {
      margin: 0; padding: 0;
      list-style: none;
      background: none;
      border: 0;
      box-shadow: none;
    }

      #more .dyk li {
        margin-bottom: 5px;
        z-index: 0;
      }

      #more .dyk li span {
        margin-right: 10px;
        padding: 34px 43px 34px 18px;
        width: 21%;
        font-size: 4em;
        display: block;
        float: left;
        font-weight: bold;
        color: #fff;
        background: #3694bf;
        text-shadow: 1px 1px 1px #000;
      }

      #more .dyk li p {
        padding: 15px 11px 0;
        font-size: 1.3em;
        line-height: 1.3em;
        color: #8a8a8a;
      }

  footer #signup {
    background: #3694bf;
  }

    footer #signup ul {
      margin: 0; padding: 0;
      list-style: none;
    }

    footer #signup li{
      padding: 10px 0;
      float: left;
      display: block;
      margin-right: 10px;
    }

    footer #signup input {
      padding: 10px;
      width: 316px;
    }

    footer #signup a {
      padding: 10px 20px;
      float: left;
      background: #000;
      font-size: 1.8em;
      color: #fff;
      display: block;
    }

    #bits {
      padding: 25px 0;
    }

    #bits nav li{
      margin-right: 10px;
      float: left;
    }

    #bits a {
      color: #707070;
    }

    #copyright {
      padding-left: 10px;
      border-left: 1px solid #ccc;
    }

/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.fl { float: left; }
.fr { float: right; }
.abs { position: absolute; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
