<!doctype html>
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <title>Prizzm Sales</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Happy customers are the best advertisers">
    <meta name="author" content="ohsogeoff, prizzm">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application", :media => "all" -%>
    <%= javascript_include_tag "application" -%>
  </head>

  <body class="glacier-page">
    <%= yield %>

    <%- if Rails.env.production? -%>
      <%= javascript_tag do -%>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28400285-1']);
        _gaq.push(['_setDomainName', 'prizzm.com']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      <%- end -%>
    <%- end -%>
  </body>
</html>
